{% extends 'base.html' %}
{% load static %}
{% block body %}


<div class="container" id="about">
          <br><br><br>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading"><b>MESS ORGANIZATION, IIT DELHI</b></h2>
                    <hr class="dark">
                </div>
            </div>
    </div>


    <aside class="bg-primary" id="menu">
        <div class="container text-center">
            <div class="call-to-action">
                <h2>Current Menu ...</h2>
                <hr class="light">
                <img src="{% static 'img/menu.png' %}" >
            </div>
        </div>
    </aside>

    <section id="health">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Few Other Hostel's Menu</h2>
                    <hr class="primary"><br>
                    <font size="4">
                    We have grown "Comparing".<br><br>Let's take a look at menus of some other hostels (Which are considered good :p)
                    <hr class="primary"><br>
                    <p>
                      <b>Click on the links to redirect to the concerned page:</b><br>
                      <i>(Will be made available soon !)</i>
                      <!-- <a href="http://www.calculator.net/calorie-calculator.html">BMI (Body Mass Index) Calculator</a><br> -->
                    <!-- <ul>
                      <li>Calculate your BMI and calorie intake as per height and weight
                      </ul> -->
                    </p><br><br>

                    </font>
                </div>
            </div>
        </div>
        <div class="container">
            </div>
        </div>
    </section>


    <aside class="bg-primary" id="menu">
        <div class="container text-center">
            <div class="call-to-action">
                <h2>Item Addition</h2>
                <hr class="light">
<iframe src="https://docs.google.com/forms/d/e/1FAIpQLScGYpglJTcTDohKps6_tZT4koqLaqEzeIjUXFRT3M5yLPb16Q/viewform?embedded=true" width="100%" height="1600" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
            </div>
        </div>
    </aside>

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Wanna Get In Touch!</h2>
                    <hr class="primary">
                    <p>Wanna Suggest Improvement !</p>
                </div>
                <!--<div class="col-lg-4 col-lg-offset-2 text-center">-->
                    <!--<i class="fa fa-phone fa-3x sr-contact"></i>-->
                    <!--<p>123-456-6789</p>-->
                <!--</div>-->
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <i class="fa fa-facebook fa-3x sr-contact"></i>
                    <!-- <p><a href="tel:9891052662">9891052662</a></p> -->
                      <p><a href="https://www.facebook.com/groups/799819860196596/" target="_blank">Join !!!</a></p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x sr-contact"></i>
                    <p><a href="mailto:patel.ayush08@gmail.com">Send mail</a></p>
                </div>
            </div>
        </div>
        <p align="right" style="color:#228822;margin-right:40px;"><b>
          <a href="https://www.facebook.com/ayush.patel.376695" target="_blank">Website Maintenance : Ayush Patel</a></b>
        </p>
    </section>


{% endblock %}
