{% extends 'base.html' %}
{% load static %}
{% block body %}

<header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1 id="homeHeading">SATPURA MESS COMMITTE</h1>
                <hr>
                <p>Eat Healthy, Taste Healthy</p>
                <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
            </div>
        </div>
    </header>

<section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">MESS ORGANIZATION, IIT DELHI</h2>
                    <hr class="light">
                    <p class="text-faded">Let's Control What We Eat !!!</p>
                    <!-- <a href="/git" class="page-scroll btn btn-default btn-xl sr-button">Get Started!</a> -->
                </div>
            </div>
        </div>
    </section>

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Get Par The Taste</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-newspaper-o text-primary sr-icons"></i>
                        <h3><a href="/#menu">Menu</a></h3>
                        <p class="text-muted">Have a look at the present menu.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-heart text-primary sr-icons"></i>
                        <h3><a href="/#health">Health</a></h3>
                        <p class="text-muted">Monitor your Health.<br>(Health is Wealth :p)</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-diamond text-primary sr-icons"></i>
                        <h3><a href="/#queries">Queries</a></h3>
                        <p class="text-muted">Have Some Query, Report it for improvement.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-paper-plane text-primary sr-icons"></i>
                        <h3><a href="/#contact">Contact</a></h3>
                        <p class="text-muted">Wanna Contact. Get to us.<br>We will try to reply ASAP.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- <section class="no-padding" id="portfolio">
        <div class="container-fluid">
            <div class="row no-gutter popup-gallery">
                <div class="col-lg-4 col-sm-6">
                    <a href="img/portfolio/fullsize/1.jpg" class="portfolio-box">
                        <img src="img/portfolio/thumbnails/1.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Git Colaboartion
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                  <a href="https://github.com/Ayush21298/" class="portfolio-box">
                        <img src="{% static 'img/portfolio/thumbnails/2.jpg' %}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                  Git Collaboration
                                </div>
                                <div class="project-name">
                                  APSoftz
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="{% static 'img/portfolio/fullsize/3.jpg' %}" class="portfolio-box">
                        <img src="{% static 'img/portfolio/thumbnails/3.jpg'" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="{% static 'img/portfolio/fullsize/4.jpg' %}" class="portfolio-box">
                        <img src="{% static 'img/portfolio/thumbnails/4.jpg'" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="{% static 'img/portfolio/fullsize/5.jpg' %}" class="portfolio-box">
                        <img src="{% static 'img/portfolio/thumbnails/5.jpg'" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="https://github.com/Ayush21298/" class="portfolio-box">
                        <img src="{% static 'img/portfolio/thumbnails/6.jpg'" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Git Colaboration
                                </div>
                                <div class="project-name">
                                    APSoftz
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section> -->
    <aside class="bg-primary" id="menu">
        <div class="container text-center">
            <div class="call-to-action">
                <h2>Current Menu ...</h2>
                <hr class="light">
                <img src="{% static 'img/menu.png' %}" >
            </div>
        </div>
    </aside>

    <section id="health">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Your Health !!!</h2>
                    <hr class="primary"><br>
                    <font size="4">
                    We have grown saying "Health is Wealth".<br><br>Let's take some measure to get improve our health and get Wealthy :p
                    <hr class="primary"><br>
                    <p>
                      <b>Calculate your BMI and calorie intake as per height and weight</b><br>
                      <i>( Use the links below to get you BMI and optimum calorie intake )</i><br>
                      <a href="http://www.calculator.net/calorie-calculator.html">BMI (Body Mass Index) Calculator</a><br>
                      <a href="https://www.freedieting.com/tools/calorie_calculator.htm">Optimun Calorie Intake Calculator</a>
                    <!-- <ul>
                      <li>Calculate your BMI and calorie intake as per height and weight
                      </ul> -->
                    </p><br><br>
                    <p>
                      <b>BMI Range</b>
                    </p>
                    <table align="center" border="1px" cellspacing="50px" cellpadding="50px">
                      <tr>
                        <th>BMI Range</th>
                        <th>Fitness Level</th>
                        <th>Calorie Goal</th>
                      </tr>
                      <tr>
                        <th>23 - 25</th>
                        <td>Fit</td>
                        <td>Calorie intake should be 1800.</td>
                      </tr>
                      <tr>
                        <th>&gt;25</th>
                        <td>Overweight</td>
                        <td>Calorie intake should be 1600 or less.</td>
                      </tr>
                      <tr>
                        <th>&lt;23</th>
                        <td>Underweight</td>
                        <td>Calorie intake should be 2000 or more</td>
                      </tr>
                    </table><br><br>
                    <p>
                      <b>Optimum Nutrient Intake for normal Individual</b>
                    </p>
                    <table align="center" border="1px" cellspacing="50px" cellpadding="50px">
                      <tr>
                        <th>Macros</th>
                        <th>Per Day Consumption</th>
                      </tr>
                      <tr>
                        <th>Proteins</th>
                        <td>50-60 gm</td>
                      </tr>
                      <tr>
                        <th>Fats</th>
                        <td>40-60 gm</td>
                      </tr>
                      <tr>
                        <th>Fibres</th>
                        <td>30-40 gm</td>
                      </tr>
                    </table><br><br>
                    </font>
                </div>
            </div>
        </div>
        <div class="container">
            </div>
        </div>
    </section>


    <aside class="bg-primary" id="menu">
        <div class="container text-center">
            <div class="call-to-action">
                <h2>Eat for Health not for Taste ... </h2>
                <hr class="light">
                <img src="{% static 'img/menu2.1.png' %}" style="width:80vw;" >
                <img src="{% static 'img/menu2.21.png' %}" style="width:80vw;" >
                <!-- <br><br> -->
                <img src="{% static 'img/menu3.png' %}" style="width:80vw;" >
            </div>
        </div>
    </aside>

    <br><br>
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Know Your Thali !!!</h2>
                    <hr class="primary">
                    <img src="{% static 'img/menu2.2.png' %}" style="width:80vw;" >
                </div>
            </div>
        </div>
        <div class="container">
            </div>
        </div>
    </section>

    <br><br>
    <aside class="bg-primary" id="queries">
        <div class="container text-center">
            <div class="call-to-action">
                <h2>Have Queries ???</h2>
                <hr class="light">
                <p style="line-height:30px;">
                  Everyone is advised to join our facebook page ( Whose Link is provided below.)<br>
                  You may post your queries and it will be made sure that they are entertained ASAP.<br><br><b>
                    Feedback form is available <a href="/feedback" target="_blank" style="color:#eb3812">here</a>.
                  </b> </p>
            </div>
        </div>
    </aside>
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Your Birthday !!!</h2>
                    <hr class="primary">
                    <p style="line-height:30px;">
                      We are planning to organise fortnightly birthday celebration of the residents of Satpura.<br>
                      This step is being taken so that we could get to know each other and spend some time together. <br>
                      The tentative dates for this celebration will be at mid of the month and end of the month. <br>
                      Soon we will be maintaining a database for the same.<br><br><b>
                        Kindly fill <a href="/birthday" target="_blank">this form</a> for proper administration.
                        <br><br>
                      ( The exact dates will be communicated further through webpage and the facebook page. )</b> </p>
                </div>
            </div>
        </div>
        <div class="container">
            </div>
        </div>
    </section>
    <aside class="bg-primary">
        <div class="container text-center">
            <div class="call-to-action">
                <h2>Wanna collaborate ? Join in the meeting !</h2>
                <a class="btn btn-default btn-xl sr-button">Tentative Meeting</a>
                <h4>(14th Sept 2017)</h4>
                <br><br><b>
                  <h4>Item Suggestion form is available now. :p</h4>
                  <a href="/items" target="_blank" style="color:#eb3812">Item Suggestion Form</a>
                  <br><br>
            </div>
        </div>
    </aside>

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Wanna Get In Touch!</h2>
                    <hr class="primary">
                    <p>Wanna Suggest Improvement !</p>
                </div>
                <!--<div class="col-lg-4 col-lg-offset-2 text-center">-->
                    <!--<i class="fa fa-phone fa-3x sr-contact"></i>-->
                    <!--<p>123-456-6789</p>-->
                <!--</div>-->
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <i class="fa fa-facebook fa-3x sr-contact"></i>
                    <!-- <p><a href="tel:9891052662">9891052662</a></p> -->
                      <p><a href="https://www.facebook.com/groups/799819860196596/" target="_blank">Join !!!</a></p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x sr-contact"></i>
                    <p><a href="mailto:patel.ayush08@gmail.com">Send mail</a></p>
                </div>
            </div>
        </div>
        <p align="right" style="color:#228822;margin-right:40px;"><b>
          <a href="https://www.facebook.com/ayush.patel.376695" target="_blank">Website Maintenance : Ayush Patel</a></b>
        </p>
    </section>


{% endblock %}
